* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {

    height: 100vh;
    perspective: 10px;
    width: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;

}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -5px;
}

.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2px;
}

.background {
    transform: translateZ(-50px);
    scale: 6;
}

.foreground {
    transform: translateZ(-20px);
    scale: 3;
}

.text {
    color: wheat;
    position: absolute;
    top: 30;
}

.heading {
    position: absolute;
    color: white;
    font-size: 2rem;
    z-index: -4px;
}